.has-no-background {
  background: none !important;
}

.is-clickable {
  cursor: pointer;
}

.tag.is-purple {
  background-color: #863ce7;
  color: #fff;
}

footer.footer {
  padding: 3rem 1.5rem 3rem;
  margin-top: 3.5rem;
}
